<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{name}}</title>
</head>
<body>

{% load bootstrap4 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}
<center>
<div class="card" style="width:500px">
  <div class="card-header">Password Reset Completed</div>
    <div class="card-body">

        <p>The password has been reseted now please login </p>


</div>



    <div class="card-footer">
        <a href="/login" class="btn btn-success">Login</a>
    </div>
    </div>
    </center>
</body>
</html>