<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{name}}</title>
</head>
<body>

{% load bootstrap4 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}
<center>
<div class="card" style="width:500px">
  <div class="card-header">Password Reset Sent</div>
    <div class="card-body">
        <p>Password reset sent </p>
        <p>We have sent you an email please check the inbox for the same</p>


</div>


</div>
    </center>
</body>
</html>